.App {
	text-align: center;
}

#root {
	overflow: hidden;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.active {
	background: #1f2937;
	border-radius: 9999px;
}

* {
	scroll-behavior: smooth;
	/* scrollbar-3dlight-color: #282c34; */
}

.rowhold {
	display: grid;
	grid-template-areas:
		'row2 row5'
		'row4 row3'
		'row6 row6';
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	place-items: start;
	align-items: baseline;

	gap: 0px 20px;
}

.row2 {
	grid-area: row2;
}
.row3 {
	grid-area: row3;
}
.row4 {
	grid-area: row4;
}
.row5 {
	grid-area: row5;
}
.row6 {
	grid-area: row6;
}

@media screen and (max-width: 600px) {
	.make_small {
		display: flex !important
    ;
		flex-direction: column;
	}
	.affect_small {
		position: relative;
		right: 2rem;
		top: 0.5rem;
	}

	.make_smaller {
		background: #0f172a;
	}

	.make_smallest {
		display: none;
	}
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(216, 216, 216);
	border-radius: 40px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
